
$color-primary: #0d6efd;
$color-secondary: #117575;
$color-background: #e0f7fa;
$color-text: #042555;


$bg-image: 'IQUIQUE2.jpg';


$font-main:  "Cause", serif;
$font-title: "Playfair Display", serif;


$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;